#all pyc files
*.pyc
# the special file
LCWA_d.txt
doc/test_speed1_new.aux
doc/test_speed1_new.log
#doc/test_speed1_new.pdf
doc/usepack.aux
support_files/speedtest
support_files/speedtest.5
support_files/speedtest.md
src/PlotClass.pdf
src/PlotClass.ps
.vscode/launch.json
support_files/speedtest
support_files/speedtest.5
support_files/speedtest.md
.vscode/*
.vscode/launch.json
config/test_speed_cfg_miska.json
.vscode/launch.json
